body{
 background-image:url("images.jpeg");

background-repeat:repeat;
background-attachment:fixed;
background-position:center;
}

#redtext{color:red;
font-family:arabic;
text-decoration:line-through;
font-style:italic;
font-size:50px;
text-align:center;
border-style:solid;
text-shadow:2px 5px 2px blue;}
h2,h3,h4{color:black;
font-weight:normal;
letter-spacing:.4em;
margin-bottom:1em;
text-align:center;
text-transform:lowercase;
font-variant:small-caps;
}
div:hover{
padding-top:50px;
padding-right:30px;
padding-bottom:50px;
padding-left:80px;
}
a.redtxt:visited{color:red;}
a.bluetxt:link{color:blue;}
a.largesize:hover{font-size:50pt;
color:red}
a.act:active{color:green;}
li{
display:inline;
}
span.a{
display:inline;
width:100px;
height:100px;
padding:5px;
border:1px solid blue;
background-color:yellow;
}
selector::pseudo-element{
property:value;
}
p::first-line{
color::#ff0000;
font-variant:small-caps;
}

