p::first-line{
color::#ff00ff;
font-size:small-caps;
}
p::first-line{
color::#ff0000;
font-size:xx-large;
}
h1::before{
content:url(images.jpeg);
}
h1::after{
content:url(images.jpeg);
}
img:hover{
opacity:0.5;
filter:alpha(opacity=50);
}
::selection{
color:red;
background:blue;
}
div.second{
opacity:0.1;
filter:alpha(opacity=50);
}
div.third{
opacity:0.1;
filter:alpha(opacity=50);
}
div.first{
background:rgba(76,135,80,0.1);
padding:10px;
}


